@layer base {
  :root {
    --font-body: "Montserrat", "sans-serif";
    --font-handwritten: "Escohotado", "cursive";
    --font-display: "Yeseva One", "serif";

    --color-primary-50: #d4e4ea;
    --color-primary-100: #b0cfdb;
    --color-primary-200: #86b7c8;
    --color-primary-300: #5d9db3;
    --color-primary-400: #3084a0;
    --color-primary-500: #023350;
    --color-primary-900: #001827;

    --color-gray-light: #f4f4f4;
    --color-gray-dark: #939393;
    --color-gray-disabled: #c2c2c2;
  }

  @font-face {
    font-family: "Yeseva One";
    src: url("/fonts/YesevaOne.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Escohotado";
    src: url("/fonts/Escohotado-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  .article-html-content {
    font-family: var(--font-body);
    color: black;
  }
}

@layer components {
  .article-html-content > h1 {
    font-family: var(--font-display);
    font-size: 3em;
    line-height: 1.4em;
    margin-top: 0.8em;
    margin-bottom: 1.5em;

    @media (max-width: 699px) {
      font-size: 2.2em;
      line-height: 1.3em;
      margin-top: 0.6em;
      margin-bottom: 1.2em;
    }
  }

  .article-html-content > h2 {
    font-size: 2em;
    line-height: 1.3em;
    margin-top: 0.6em;
    margin-bottom: 1.2em;
    color: var(--color-primary-500);

    @media (max-width: 699px) {
      font-size: 1.8em;
      line-height: 1.2em;
      margin-top: 0.5em;
      margin-bottom: 1em;
    }
  }

  .article-html-content > h3 {
    font-size: 1.5em;
    line-height: 1.4em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: var(--color-gray-dark);

    @media (max-width: 699px) {
      font-size: 1.4em;
      line-height: 1.3em;
      margin-top: 0.4em;
      margin-bottom: 0.8em;
    }
  }

  .article-html-content > h4 {
    font-size: 1.35em;
    line-height: 1.6em;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
    font-weight: 600;
  }

  .article-html-content > h5,
  h6 {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 0.8em;
    font-weight: 600;
  }

  .article-html-content > p {
    font-size: 1.1em;
    line-height: 1.5em;
    margin-bottom: 1.4em;

    @media (max-width: 699px) {
      font-size: 1.2em;
      line-height: 1.4em;
      margin-bottom: 1.6em;
    }
  }

  .article-html-content > blockquote {
    width: 100%;
    font-size: 1.25em;
    line-height: 1.75em;
    margin: 2em 0 1.5em 0;
    position: relative;
    font-style: italic;
    color: var(--color-primary-900);
    padding: 20px 40px;

    &::before {
      content: "“";
      font-family: var(--font-display);
      font-size: 4.5em;
      position: absolute;
      left: 0px;
      top: 0px;
      color: var(--color-primary-100);
    }

    @media (max-width: 699px) {
      font-size: 1.2em;
      line-height: 1.6em;
      margin: 1.8em 0 1.2em 0;
      padding: 15px 30px;

      &::before {
        font-size: 3.5em;
      }
    }
  }

  .article-html-content > ul, ol {
    font-size: 1em;
    margin-bottom: 2em;

    @media (max-width: 699px) {
      font-size: 1.1em;
      margin-bottom: 1.8em;
    }
  }

  .article-html-content > ul {
    margin-left: 2em;

    @media (max-width: 699px) {
      margin-left: 1em;
    }
  }

  .article-html-content > ol {
    list-style-type: decimal;
    margin-left: 3em;

    @media (max-width: 699px) {
      margin-left: 2em;
    }
  }

  .article-html-content > ol > li {
    padding-left: 0.25em;
    margin-bottom: 0.4em;

    &::marker {
      font-family: var(--font-display);
      font-size: 1.2em;
      color: var(--color-primary-500);
    }

    @media (max-width: 699px) {
      padding-left: 0.2em;
      margin-bottom: 0.3em;

      &::marker {
        font-size: 1.1em;
      }
    }
  }

  .article-html-content > ul > li {
    position: relative;
    padding-left: 1.25em;
    margin-bottom: 0.8em;

    &::before {
      content: "·";
      position: absolute;
      left: 0;
      top: 10px;
      transform: translateY(-55%);
      font-size: 2em;
      color: var(--color-gray-disabled);
    }

    @media (max-width: 699px) {
      padding-left: 1em;
      margin-bottom: 0.6em;

      &::before {
        font-size: 1.8em;
      }
    }
  }

  .article-html-content > hr {
    border: none;
    height: 2px;
    background-color: var(--color-gray-light);
    margin: 40px 0;

    @media (max-width: 699px) {
      height: 1.5px;
      margin: 30px 0;
    }
  }
}

